.jumbotron {
  padding-top: 6rem;
  background-color: #e3edff;
}

#project {
  background-color: #e3edff;
}

#contact {
  background-color: #e3edff;
}

section {
  padding-top: 5rem;
}

.gallery-img {
  width: 100%;
}

#gallery .row > * {
  padding: 0;
}
